<div class="grid grid-cols-2 gap-8 grid-rows-2">
{{ galerie }}

    {{ if index == 0 || index == 2}}
    <div class="bg-gray-100">
        <img class="object-cover w-full h-full" src="{{ glide:url fit="crop_focal" }}" alt="{{ alt }}">
    </div>
    {{ elseif index == 1 }}
    <div class="row-span-2">
        <img class="object-cover w-full h-full" src="{{ glide:url fit="crop_focal" }}" alt="{{ alt }}">
    </div>
    {{ else }}
    <div class="col-span-2 bg-gray-100">
        <img class="object-cover w-full h-full" src="{{ glide:url fit="crop_focal" }}" alt="{{ alt }}">
    </div>
    {{ /if }}

{{ /galerie }}
</div>
