<div class="bg-gold-300 island-p">
    <div class="container">
        <h2 class="text-center leading-tight font-semibold text-lg lg:text-4xl sm:text-2xl text-gray-900">Bleiben Sie mit uns im Kontakt, um die neuesten Infos,
            <span class="lg:inline-block">die besten Angebote und vieles Mehr zu erhalten!</span></h2>
        <div class="lg:mt-20 mt-10 sm:flex items-center">
            <input placeholder="Ihre E-Mail Adresse" type="text" class="lg:text-gray-900 placeholder-opacity-50 focus:outline-none lg:text-left text-center lg:text-2xl text-lg py-1 bg-transparent flex-1 border-b-2 border-gold-500 placeholder-current">
            <div class="mt-10 sm:mt-0">
                <button class="block lg:text-sm text-sm lg:ml-10 sm:ml-5 btn px-8 py-4">Newsletter abonnieren</button>
            </div>
        </div>
    </div>
</div>
